
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$fondFooter: #292c2f;
$flashColor: #A72C5E;

.fond {
  background-color: #33383b;
}
.partition{
  color: #F98C00;
  text-align: center;
  margin-bottom : 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-btn a:link, .nav-btn a:visited{
  color: #F98C00 !important;
  font-weight: bold;

}
.nav-btn a:link, .nav-btn a:hover{
  color: #33383b !important;
}


.links > a {
  color: #B6175F;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: #F98C00;
  text-transform: uppercase;
  text-align: center;
}
.navbar-brand{
  margin-bottom:10px;
  color: #F98C00;
}
.footerAdac{
  background-color: $fondFooter;
  padding: 30px 25px;
  margin-top: 30px;

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .item {
    width: 50%;
  }
}

.carousel-inner img {
  width:50%;
  height:80%;
}

#app > nav.navbar{
  margin-bottom: 0px;
}

.bandeSeparationMenu {
  height: 50px;
  background-color: $fondFooter;
}
.mail{
  color: #F98C00

}
.titre{
  color: #B6175F;
}
.texte{
  color: white;
}